<div class="container  p-4 ">
    <ul class="list-group col-10 col-md-6 mx-auto">
        {{#times_loop rooms_num}}
        <a href="/chat/view/{{this}}" class="text-decoration-none"><li class="list-group-item m-1">Chat {{this}}</li></a>
        {{/times_loop}}
    </ul>
</div>
