<script src="/public/chat.js"></script>

<div class="container-md p-4 align-items-start" style="height: 600px;">
    <div class="row justify-content-center">
        <h1 class="text-center" id="room">Chat {{id}}</h1>
    </div>
        <div class="col overflow-auto" style="max-height: 100%">
            <ul id="messages" class="list-group">
            </ul>
        </div>
    </div>
</div> 
<div class="container fixed-bottom mb-5 ">
    <form id="chat_form" class="row g-2 align-items-center justify-content-center">
        <div class="col-8 col-md-8">
            <input type="text" name="message" id="message_input" autocomplete="off" class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" id="sendMessage">Send</button>
        </div>
    </form>
</div>