<script src="/public/history.js"></script>

<div class="container-md p-4 align-items-start" style="height: 600px;">
    <div class="row justify-content-center">
        <h1 class="text-center" id="room">History of room {{room}}</h1>
    </div>

    {{#if messages}}
    {{#each messages}}
    <div class="row">
        <div class="col">
            <p>{{createdAt}}</p>
        </div>
        <div class="col">
            <p>{{user}}</p>
        </div>
        <div class="col">
            <p>{{text}}</p>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div class="row justify-content-center mt-4">
        <p class="text-center fs-4">No messages yet</p>
    </div>
    {{/if}}
</div>
</div>