<script src="/public/history.js"></script>
<div class="p-4 row g-2 align-items-center ">
    <h1>History</h1>
    <div class="col-auto">
        <select class="form-select" id="history_select">
            <option selected>Select a chat</option>
            {{#times_loop rooms_num}}
            <option value="{{this}}">Chat {{this}}</option>
            {{/times_loop}}
        </select>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" id="goHistory_button">Go</button>
    </div>
</div>