<div class="container p-4 text-center">
    <a href="/user/login" class="text-decoration-none">
        <button type="button" class="btn btn-primary">Login</button>
    </a>
    <a href="/user/register" class="text-decoration-none">
        <button type="button" class="btn btn-outline-primary">Register</button>
    </a>
</div>