<div class="p-4 row justify-content-center">
    <div class="col-8 col-md-4">
        <form action="/user/login" method="post" class="form">
            <input type="text" name="username" placeholder="username" class="form-control mt-2">
            <input type="password" name="password" placeholder="password" class="form-control mt-2">
            <button type="submit" value="Login" class="btn btn-primary mt-2 text-right float-end">Login</button>
        </form>
        {{#if error}}
            <div>{{error}}</div>
        {{/if}}
    </div>
    <div class="text-center mt-5">
        <p>Don't you have a password already? <a href="/user/register" class="text-decoration-none">Register</a></p>
    </div>
</div>