<div class="p-4 row justify-content-center">
    <div class="w-25 ">
        <form action="/user/register" method="post" class="form">
            <input type="text" name="name" placeholder="Username" class="form-control mt-2">
            <input type="email" name="email" placeholder="Email" class="form-control mt-2">
            <input type="password" name="password" placeholder="Password" class="form-control mt-2">
            <button type="submit" class="btn btn-primary mt-2 text-right float-end">Register</button>
        </form>
        {{#if error}}
        <div>Error</div>
        {{/if}}
    </div>
    <div class="text-center mt-5">
        <p>Do you have a password? <a href="/user/login" class="text-decoration-none">Login</a></p>
    </div>
</div>