<nav class="nav border border-2 p-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/chat/list">Chat list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history/list">History</a>
    </li>
    <li class="nav-item ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ userName }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
        </ul>
    </li>
</nav>